.baseFrontEndElement {
  position: relative;
  --cursorX: 0;
  --cursorY: 0;
}

.baseFrontEndElement:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: radial-gradient(
    circle 10vmax at var(--cursorX) var(--cursorY),
    rgba(0, 0, 0, 0) 0%,
    rgb(177, 255, 198) 60%,
    rgba(0, 0, 0, 0.95) 100%
  );
  pointer-events: none;
  /* top: var(--cursorY);
  left: var(--cursorX); */
  top: 0;
  left: 0;
}

.baseBackEndElement {
  position: relative;
}
.baseBackEndElement:hover .cursorBackEndTracker {
  background-image: url("/public/backend.png");
  height: 28px;
  width: 28px;
  content: "";
  position: absolute;
  top: calc(var(--cursorY, 0));
  left: calc(var(--cursorX, 0) + 20px);
}

.baseDatabaseElement{
    position: relative;
}
.baseDatabaseElement:hover .cursorDatabaseTracker{
    background-image: url("/public/database.png");
    height: 28px;
    width: 28px;
    content: "";
    position: absolute;
    top: calc(var(--cursorY, 0));
    left: calc(var(--cursorX, 0) + 20px);
}

.baseToolsElement{
    position: relative;
}
.baseToolsElement:hover .cursorToolsTracker{
    background-image: url("/public/tools.png");
    height: 28px;
    width: 28px;
    content: "";
    position: absolute;
    top: calc(var(--cursorY, 0));
    left: calc(var(--cursorX, 0) + 20px);
}
