.skills_presentation{
    background-image: url("/public/skills_presentation1.png");
    min-height: 100vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.c1{
    color:yellow
}