body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.playGroundContainerMobile{
  display: none;
}

.spellCautionMobile{
  display: none;
}

.spellContainerMobile{
  display: none;
}

.wizardryHelper {
  --cursorX: 0;
  --cursorY: 0;
  position: relative;
}

.wizardryHelper::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: radial-gradient(
    circle 10vmax at var(--cursorX) var(--cursorY),
    rgba(0, 0, 0, 0) 0%,
    rgb(116, 116, 255) 60%,
    rgba(0, 0, 0, 0.95) 100%
  );
  pointer-events: none;
  /* top: var(--cursorY);
  left: var(--cursorX); */
  top: 0;
  left: 0;
  z-index: 999;
}

@media only screen and (max-width: 900px) {

  .playGroundContainer{
    display: none;
  }

  .playGroundContainerMobile{
    display: flex;
  }
  .spellContainer{
    display: none;
  }

  .spellCautionMobile{
    display: initial;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .spellContainerMobile{
    display: initial;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #resumeMenu {
    display: none;
  }
  #baseResume {
    padding: 0px !important;
  }

  #resumeMainContent {
    padding: 0;
    margin: auto 0;
  }

  #backendImage {
    display: none;
  }

  #FrontendImage {
    display: none;
  }
  #databaseImage {
    display: none;
  }
  #toolsImage {
    display: none;
  }
  #databaseImage {
    display: none;
  }

  #homeContainer {
    padding: 0 1rem !important;
    margin-top: 4rem !important;
  }
  #aboutContainer {
    padding: 0 1rem !important;
    margin-top: 4rem !important;
  }

  .playGroundContainer {
    display: none;
  }
  #item1 {
    width: 100%;
    margin-bottom: 0 !important;
    margin-top: 4rem !important;
  }
  #item2 {
    width: 100%;
    margin-bottom: 0 !important;
    margin-top: 4rem !important;
  }
  #item3 {
    width: 100%;
    margin-bottom: 0 !important;
    margin-top: 4rem !important;
    padding: 0 1rem !important;
  }
  #item4 {
    width: 100%;
    margin-bottom: 0 !important;
    margin-top: 4rem !important;
  }

  #resumeMainContent {
    width: 100%;
  }

  .contentResumePadding {
    padding: 1rem !important;
  }

  #projectsContainer {
    margin-bottom: 0 !important;
    margin-top: 4rem !important;
    padding: 0 1rem !important;
  }
  #contactContainer {
    margin-bottom: 0 !important;
    margin-top: 4rem !important;
    padding: 0 1rem !important;
  }

  .projectsItem {
    padding: 0 !important;
    margin-bottom: 8rem !important;
  }
  .navBarElements {
    display: none;
  }
  #navMain {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .navMenu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #brandText {
    font-size: 1rem;
  }

  .sideBar {
    display: block;
  }

  #navBar {
    visibility: visible !important;
  }
}
